// we're importing here main style variables
@import "@theme/assets/scss/variables";

// For available variables check SFUI docs - https://docs.storefrontui.io/customization.html#global-variables
//
// Please remember to ONLY override variables here, as it will be used in components.
// If you'd add some styles here as well it would be included in almost every component. You don't want it ;) You can add global styles in main.scss file.

// #__nuxt {
//   --c-primary: #5ece7b;
// }

:root {
    --_c-green-primary: #5ece7b;
    --_c-green-primary-base: 94, 206, 123;
    --_c-green-primary-lighten: #72d48b;
    --_c-green-primary-darken: #4ac86b;
    --_c-green-secondary: #9ee2b0;
    --_c-green-secondary-base: 158, 226, 176;
    --_c-green-secondary-lighten: #b2e8c0;
    --_c-green-secondary-darken: #8adca0;
    --_c-dark-primary: #1d1f22;
    --_c-dark-primary-base: 29, 31, 34;
    --_c-dark-primary-lighten: #292c30;
    --_c-dark-primary-darken: #111214;
    --_c-dark-secondary: #43464E;
    --_c-dark-secondary-base: 67, 70, 78;
    --_c-dark-secondary-lighten: #4f525c;
    --_c-dark-secondary-darken: #373a40;
    --_c-gray-primary: #72757E;
    --_c-gray-primary-base: 114, 117, 126;
    --_c-gray-primary-lighten: #7f828b;
    --_c-gray-primary-darken: #666971;
    --_c-gray-secondary: #8D8F9A;
    --_c-gray-secondary-base: 141, 143, 154;
    --_c-gray-secondary-lighten: #9b9ca6;
    --_c-gray-secondary-darken: #7f828e;
    --_c-gray-accent: #e0e0e1;
    --_c-gray-accent-base: 224, 224, 225;
    --_c-gray-accent-lighten: #ededee;
    --_c-gray-accent-darken: #d3d3d4;
    --_c-light-primary: #f1f2f3;
    --_c-light-primary-base: 241, 242, 243;
    --_c-light-primary-lighten: white;
    --_c-light-primary-darken: #e3e5e7;
    --_c-light-secondary: #ffffff;
    --_c-light-secondary-base: 255, 255, 255;
    --_c-light-secondary-lighten: white;
    --_c-light-secondary-darken: #f2f2f2;
    --_c-red-primary: #d12727;
    --_c-red-primary-base: 209, 39, 39;
    --_c-red-primary-lighten: #da3838;
    --_c-red-primary-darken: #bc2323;
    --_c-red-secondary: #fcede8;
    --_c-red-secondary-base: 252, 237, 232;
    --_c-red-secondary-lighten: white;
    --_c-red-secondary-darken: #f9dbd1;
    --_c-yellow-primary: #ecc713;
    --_c-yellow-primary-base: 236, 199, 19;
    --_c-yellow-primary-lighten: #eecd2b;
    --_c-yellow-primary-darken: #d4b311;
    --_c-yellow-secondary: #f6e389;
    --_c-yellow-secondary-base: 246, 227, 137;
    --_c-yellow-secondary-lighten: #f8e9a1;
    --_c-yellow-secondary-darken: #f4dd71;
    --_c-blue-primary: rgb(0 106 179);;
    --_c-blue-primary-base: 4, 104, 219;
    --_c-blue-primary-lighten: rgb(24, 130, 200);;
    --_c-blue-primary-darken: rgb(11, 75, 118);;
    --_c-blue-secondary: #e1f4fe;
    --_c-blue-secondary-base: 225, 244, 254;
    --_c-blue-secondary-lighten: #fafdff;
    --_c-blue-secondary-darken: #c8ebfd;
    --c-body: var(--_c-light-secondary);
    --c-text: var(--_c-dark-primary);
    --c-text-muted: var(--_c-gray-primary);
    --c-text-disabled: var(--_c-gray-accent);
    --c-link: var(--_c-dark-secondary);
    --c-link-hover: var(--c-black);
    --c-primary: var(--_c-blue-primary);
    --c-primary-base: var(--_c-blue-primary-base);
    --c-primary-lighten: var(--_c-blue-primary-lighten);
    --c-primary-darken: var(--_c-blue-primary-darken);
    --c-primary-variant: var(--_c-blue-secondary);
    --c-on-primary: var(--_c-light-secondary);
    --c-secondary: var(--_c-dark-primary);
    --c-secondary-base: var(--_c-dark-primary-base);
    --c-secondary-lighten: var(--_c-dark-primary-lighten);
    --c-secondary-darken: var(--_c-dark-primary-darken);
    --c-secondary-variant: var(--_c-dark-secondary);
    --c-on-secondary: var(--_c-light-secondary);
    --c-light: var(--_c-light-primary);
    --c-light-base: var(--_c-light-primary-base);
    --c-light-lighten: var(--_c-light-primary-lighten);
    --c-light-darken: var(--_c-light-primary-darken);
    --c-light-variant: var(--_c-light-secondary);
    --c-on-light: var(--c-black);
    --c-gray: var(--_c-gray-primary);
    --c-gray-base: var(--_c-gray-primary-base);
    --c-gray-lighten: var(--_c-gray-primary-lighten);
    --c-gray-darken: var(--_c-gray-primary-darken);
    --c-gray-variant: var(--_c-gray-secondary);
    --c-on-gray: var(--c-black);
    --c-dark: var(--_c-dark-primary);
    --c-dark-base: var(--_c-dark-primary-base);
    --c-dark-lighten: var(--_c-dark-primary-lighten);
    --c-dark-darken: var(--_c-dark-primary-darken);
    --c-dark-variant: var(--_c-dark-secondary);
    --c-on-dark: var(--_c-light-secondary);
    --c-info: var(--_c-blue-primary);
    --c-info-base: var(--_c-blue-primary-base);
    --c-info-lighten: var(--_c-blue-primary-lighten);
    --c-info-darken: var(--_c-blue-primary-darken);
    --c-info-variant: var(--_c-blue-secondary);
    --c-on-info: var(--_c-light-secondary);
    --c-success: var(--_c-green-primary);
    --c-success-base: var(--_c-green-primary-base);
    --c-success-lighten: var(--_c-green-primary-lighten);
    --c-success-darken: var(--_c-green-primary-darken);
    --c-success-variant: var(--_c-green-secondary);
    --c-on-success: var(--_c-light-secondary);
    --c-warning: var(--_c-yellow-primary);
    --c-warning-base: var(--_c-yellow-primary-base);
    --c-warning-lighten: var(--_c-yellow-primary-lighten);
    --c-warning-darken: var(--_c-yellow-primary-darken);
    --c-warning-variant: var(--_c-yellow-secondary);
    --c-on-warning: var(--_c-light-secondary);
    --c-danger: var(--_c-red-primary);
    --c-danger-base: var(--_c-red-primary-base);
    --c-danger-lighten: var(--_c-red-primary-lighten);
    --c-danger-darken: var(--_c-red-primary-darken);
    --c-danger-variant: var(--_c-red-secondary);
    --c-on-danger: var(--_c-light-secondary);
    --spacer-2xs: 0.25rem;
    --spacer-xs: 0.5rem;
    --spacer-sm: 1rem;
    --spacer-base: 1.5rem;
    --spacer-lg: 2rem;
    --spacer-xl: 2.5rem;
    --spacer-2xl: 5rem;
    --spacer-3xl: 10rem;
    --font-family--primary: 'Open Sans';
    --font-family--secondary: 'Open Sans';
    --font-weight--light: inherit;
    --font-weight--normal: inherit;
    --font-weight--medium: inherit;
    --font-weight--semibold: inherit;
    --font-weight--bold: inherit;
    --font-size--xs: inherit;
    --font-size--sm: inherit;
    --font-size--base: inherit;
    --font-size--lg: inherit;
    --h1-font-size: inherit;
    --h2-font-size: inherit;
    --h3-font-size: inherit;
    --h4-font-size: inherit;
    --h5-font-size: inherit;
    --h6-font-size: inherit;
}