@tailwind base;
@tailwind components;
@tailwind utilities;

/* latin */
@font-face {
    font-family: 'Open Sans';
    src: local("OpenSans"), url(~assets/fonts/OpenSans-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'Open Sans';
    src: local("OpenSans"), url(~assets/fonts/OpenSans-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans';
    src: local("OpenSans"), url(~assets/fonts/OpenSans-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Open Sans';
    src: local("OpenSans"), url(~assets/fonts/OpenSans-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Open Sans';
    src: local("OpenSans"), url(~assets/fonts/OpenSans-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

#app{
    font-family: 'Open Sans';
}
.prose{
    max-width: none;
}
.prose img{
    margin: 0;
}